@import url('variables.css');

.main-page-header-container {
    width: var(--c-480-width);
    padding: 13px 0px 13px 0px;
}

.main-page-header-navbar img {
    display: flex;
    width: 34px;
    height: 20px;
    cursor: pointer;
}

.main-page-header-navbar nav {
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    display: none;
    align-items: start;
    flex-direction: column;
    background-color: var(--menu-color);
    border-radius: 8px;
}

.main-page-header-navbar nav a {
    font-size: 17px;
}

.main-page-container-base {
    width: var(--c-480-width);
    padding-top: 10px;
    padding-bottom: 51px;
    gap: 0px;
    position: relative;
    height: 350px;
    flex-direction: column;
}

.main-page-container-base-l-1 {
    font-size: 30px;
    line-height: 40px;
    width: 424px;
}

.main-page-container-base-l-1 img {
    width: 98px;
    height: 36px;
    margin-top: 100px;
}

.main-page-container-base-l-2 {
    margin-top: 18px;
    gap: 0px;
}

.main-page-container-base-l-2-l {
    gap: 0px;
}

.main-page-container-base-l-2-l div {
    margin-top: 25px;
    margin-bottom: 10px;
}

.main-page-container-base-l-2-l-text-1 {
    width: 300px;
    font-size: 16px;
}

.main-page-container-base-l-2-l-text-2 {
    width: 140px;
    font-size: 12px;
    text-overflow: clip;
    overflow: hidden;
    height: 60px;
}

.main-page-container-base-l-2-r {
    position: absolute;
    right: 170px;
    bottom: 20px;

}

.main-page-container-base-l-2-r img {
    width: 126px;
    margin-top: 18px;

    height: 153px;
}

.main-page-container-base-r {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.main-page-container-base-r img {
    width: 161px;
    height: 200px;
}

.install-section-st-container {
    width: var(--c-480-width);
    padding-top: 38px;
    padding-bottom: 36px;
    position: relative;
    gap: 0px;
}

.install-section-st-img {
    position: absolute;
    object-position: left;
    object-fit: cover;
    right: 0px;
    bottom: 23px;
    width: 282px;
    height: 205px;
}

.install-section-st-info-text-1 {
    font-size: 20px;
    width: 323px;
    padding-top: 0px;
}

.install-section-st-info-text-2 {
    font-size: 18px;
    width: 303px;
    padding-bottom: 95px;
    padding-top: 20px;
}

.install-section-st-info-links {
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.install-section-st-info-links1 img {
    width: 140px;
    height: 47px;
    object-fit: scale-down;
}

.install-section-st-info-links2 img {
    width: 152px;
    height: 45px;
    object-fit: scale-down;
}

.about-section-st {
    padding-top: 32px;
    padding-bottom: 32px;
}

.about-section-st-container {
    width: var(--c-480-width);
    gap: 24px;
}

.about-section-st-title {
    font-size: 18px;
    line-height: normal;
    width: 300px;
}

.about-section-st-items {
    gap: 15px;
    height: 371px;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: center;
}

#about-section-st-items-item1 {
    padding: 20px 0px 28px 10px;
}

#about-section-st-items-item2 {
    padding: 20px 0px 8px 10px;
}

#about-section-st-items-item3 {
    padding: 20px 0px 17px 10px;
}

.about-section-st-items-item-title {
    font-size: 16px;
}

#about-section-st-items-item-title1 {
    width: 79px;
}

#about-section-st-items-item-title3 {
    width: 96px;
}

.about-section-st-items-item-desc {
    font-size: 14px;
}

#about-section-st-items-item-desc1 {
    width: 182px;
}

#about-section-st-items-item-desc2 {
    width: 187px;
}

#about-section-st-items-item-desc3 {
    width: 178px;
}

.about-section-st-items-item-img1 {
    width: 62px;
    height: 52px;
}

.about-section-st-items-item {
    flex: 0;
    width: 196px;
    border-radius: var(--small-conatiner-border-radius-720);
}

.about-section-st-items-item img {
    object-fit: scale-down;
}

.about-section-st-items-item-img2 {
    width: 48px;
    height: 64px;
}

.about-section-st-items-item-img3 {
    width: 35px;
    height: 51px;
}

.stub-section-info {
    width: var(--c-480-width);
}

.stub-section-info-container {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 180px;

    flex-direction: column;
    justify-content: none;
    position: relative;
}

.stub-section-info-text {
    padding-top: 0px;
}

.stub-section-info-text-title {
    font-size: 20px;
    width: 300px;
    padding: 0px;
    padding-bottom: 17px;
}

.stub-section-info-text-desc {
    font-size: 18px;
    width: 300px;
    padding-bottom: 92px;
}

.partners-section-st {
    padding-top: 28px;
    padding-bottom: 28px;
}

.partners-section-st-data {
    width: var(--c-480-width);
    border-radius: var(--big-container-border-radius-720);
}

.partners-section-st-data-l {
    align-items: center;
    gap: 46px;
}

.partners-section-st-data-container {
    flex-direction: column;
    justify-content: center;
    padding: 34px 13px 28px 25px;
}

.partners-section-st-data-l-title {
    width: 100%;
    font-size: 20px;
}

.partners-section-st-data-l-carousel {
    width: 304px;
}

.partners-section-st-data-l-carousel-item {
    flex: 0 0 101px;
    height: 219px;
    margin: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 13px;
}

.partners-section-st-data-l-logo {
    gap: 14px;
    padding: 0px;
    align-items: center;
}

.partners-section-st-data-l-logo img:nth-child(1) {
    width: 89px;
    height: 74px;
}

.partners-section-st-data-l-logo img:nth-child(2) {
    width: 103px;
    height: 38px;
}

.partners-section-st-data-form {
    flex-direction: row;
    gap: 15px;
    width: 100%;
    padding-top: 40px;
}

.partners-section-st-data-form div:last-child {
    margin-top: 17px;
    align-self: center;
}

.partners-form-input label {
    font-size: 16px;
    width: 291px;
}

.partners-form-input input::placeholder {
    font-size: 18px;
}

.partners-form-input input {
    font-size: 18px;
}

.main-page-footer {
    height: 339px;
}

.main-page-footer-container {
    width: var(--c-480-width);
    padding-bottom: 43px;
}

.main-page-footer-l-license {
    margin: 0px;
    padding-top: 48px;
}

.main-page-footer-l-logo img:nth-child(1) {
    width: 49px;
    height: 40px;
}

.main-page-footer-l-logo img:nth-child(2) {
    width: 83px;
    height: 27px;
}

.main-page-footer-l-logo {
    padding-top: 28px;
}

.main-page-footer-l-docs {
    padding-top: 49px;
    gap: 20px;
}

.main-page-footer-l-docs a {
    font-size: 16px;
}

.main-page-footer-r {
    padding-top: 39px;
    gap: 10px;
    align-items: end;
}

.main-page-footer-r-nav {
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.main-page-footer-r-nav a {
    font-size: 15px;
}

.main-page-footer-r-links {
    padding-top: 0px;
    gap: 30px;
    align-items: end;
}



.main-page-download-buttons-container-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.main-page-download-buttons-container {
    display: none;
}

#web-client-link-button-top2 svg {
    width: 15px;
    height: 13px;
}

.main-page-footer-download-buttons-container {
 display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: end;
    gap: 10px;
}

.main-page-container-base-l-2-buttons {
    margin-bottom: 10px;
    margin-top: 25px;
    align-items: start;
}

.main-page-container-base-l-2-buttons div {
    margin: 0;
}

.install-section-st-container-img {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 23px;
    width: 282px;
    height: 205px;
    overflow: hidden;
    border-bottom-right-radius: 32px;
}

.install-section-st-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

#web-client-link-button-install-section-st-container {
    padding-left: 15px;
    padding-right: 15px;
    gap: 5px;
    font-size: 15px;
    height: 32px;
}

#web-client-link-button-install-section-st-container svg {
    width: 15px;
    height: 13px;
}

.stub-section-info-buttons {
    flex-direction: column;
    gap: 28px;
    align-items: center;
    padding-bottom: 27px;
    width: fit-content;
    align-self: flex-end;
    margin-right: 15px;
}

.stub-section-info-container-l {
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 20px;
    bottom: 0px;
}

.stub-section-info-container-img {
    height: 218px;
    width: 200px;
    overflow: hidden;
}

.stub-section-info-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    border-bottom-left-radius: 35px;
}

#web-client-link-button-stub-section-info {
    font-size: 15px;
    padding-left: 26px;
    padding-right: 11px;
    gap: 10px;
    height: 35px;
}

#web-client-link-button-stub-section-info svg {
    width: 15px;
    height: 13px;
}


/*Download Modal */
.download-app-modal-container {
    padding: 35px 30px 42px 30px;
    height: 296px;
    width: 400px;
    border-radius: var(--big-container-border-radius-1024);
}

.download-app-modal-container-l {
    display: none;
    width: 0px;
    height: 0px;
}

.download-app-modal-container-r {
    width: 100%;
    height: 100%;
}

.download-app-modal-container-close {
    top: 20px;
    right: 20px;
}

.download-app-modal-container-r-title {
    font-size: 16px;
    align-self: center;
    padding-bottom: 44px;
}

.download-app-modal-container-r-content {
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.download-app-modal-container-r-content-1 {
    flex-direction: row;
    gap: 20px;
}

.download-app-modal-container-r-content-1-item {
    width: 116px;
    height: 36px;
    font-size: 16px;
}

.download-app-modal-container-r-content-2.selected {
    gap: 20px;
    align-items: start;
}

.download-app-modal-container-r-content-2-item-text {
    font-size: 16px;
}

.download-app-modal-container-r-content-2-link-item {
    margin-top: 20px;
    width: 192px;
    height: 35px;
    align-self: center;
}

#download-app-modal-container-r-content-2-ios-id {
    margin-top: 0px;
}

#download-app-modal-container-r-content-2-android-id {
    margin-top: 0px;
}

#download-app-modal-container-r-content-2-mac-os-id {
    margin-top: 0px;
}

.banner-section {
    padding-bottom: 28px;
}